<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deviscoming.sortenamao"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18"/>

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
        android:resizeable="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_sorte_na_mao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:icon="@drawable/logo_sorte_na_mao"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- fim Splash Screen -->

        <!-- activity principal -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/logo_sorte_na_mao"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".MegaSenaActivity"
            android:label="@string/app_name"
            android:icon="@drawable/logo_sorte_na_mao"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".SemConexaoActivity"
            android:label="@string/app_name"
            android:icon="@drawable/logo_sorte_na_mao"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".LotoFacilActivity"
            android:label="@string/app_name"
            android:icon="@drawable/logo_sorte_na_mao"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- fim activity principal -->
    </application>

</manifest>